#home {
  @include page-color();
  @include grid(1fr 1.5fr);
  padding: 100px 0;
  figure {
    margin-left: -200px;
    padding-top: 100px;
    img {
      height: 50vh;
      width: 85vh;
    }
  }
  main {
    h1 {
      font-weight: bolder;
      font-size: 50px;
    }
    p {
      font-size: 20px;
      opacity: 0.8;
    }
    button {
      @include button();
      margin-right: 20px;
    }
    button:hover {
      @include butt-hover();
    }
  }
}
